.container
  width: 250px
  margin: auto

.tagline
  margin: 40px 0 35px

.reg-buttons
  display: flex
  flex-direction: column
  & > * + *
    margin-top: 10px
  margin: 35px auto 20px

  &__button
    @extend %center-column

.login
  width: 193px
  display: flex
  justify-content: space-between
  margin: 20px auto 25px

.bg
  width: 320px
  margin: auto
  position: relative

  &__wave,
  &__people
    position: absolute
  
  &__wave
    top: 33px