doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Greeting
    include /modules/button/button
    include /modules/form-head/form-head
  body 
    .container
      +form-head
      .mt-40.mb-35
        include /assets/img/tagline.svg
      .mt-35.mb-20
        .flex.center.mb-10
          +button("form", "Физическое лицо")
        .flex.center
          +button("form", "Юридическое лицо")
      .login Уже есть аккаунт?
        a(href="#")
          b Войти 
    .bg
      include /assets/img/bgwelcome.svg